* {
  box-sizing: border-box;
}

html, body, .container {
  height: 100%;
}

body {
  margin: 0;
}

nav ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  /*width: 800px;*/
  display: grid;
  grid-template-areas: "h h"
                       "a m";
  grid-template-columns: 30% 1fr;
  grid-template-rows: 100px minmax(auto, 1fr);
}

header {
  grid-area: h;
  background-color: lightblue;
  position: relative;
}

header h2 {
  margin: 0;
}

header nav {
  background-color: lightgreen;
  position: absolute;
  top: 0;
  right: 0;
}

header nav li {
  display: inline;
}

aside {
  grid-area: a;
  background-color: yellow;
  text-align: center;
}

// 1 - Dans app.css ne faire que des import
// donc créer plusieurs fichiers
// 2 - Nested rule, plus de selecteur hierarchique
// 3 - Définir un couleur comme ci-dessous
// toutes les autres couleurs du site
// seront des variations de celles là
// http://sass-lang.com/documentation/Sass/Script/Functions.html

$aside-item-height: 100px;
$color: orange;

aside nav li {
  height: $aside-item-height;
  line-height: $aside-item-height;
  margin: 5px 0;
  background-color: $color;
  cursor: pointer;
}

aside nav li:hover {
  background-color: darken($color, 5%);
}

main {
  grid-area: m;
  padding: 5px;
}

.breadcrumb {
  margin: 10px 0;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li + li:before {
  content: " > ";
}

@import "gallery";

/*
@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .content > main {
    order: 1;
    width: 100%;
  }

  .content > aside {
    order: 2;
    width: 100%;
  }
}
*/