* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  /*width: 800px;*/
  display: flex;
  flex-direction: column;
}

header {
  background-color: lightblue;
  position: relative;
  height: 100px;
}

header h2 {
  margin: 0;
}

header nav {
  background-color: lightgreen;
  position: absolute;
  top: 0;
  right: 0;
}

header nav ul {
  display: flex;
}

header nav ul li:not(:last-child) {
  margin-right: 5px;
}

.content {
  display: flex;
}

.content > aside {
  /*width: 30%;*/
  flex: 1;
  background-color: yellow;
  text-align: center;
}

.content > aside nav li {
  height: 30px;
  line-height: 30px;
  margin: 5px 0;
  background-color: orange;
  cursor: pointer;
}

.content > aside nav li:hover {
  background-color: red;
}

.content > main {
  /* width: calc(70% - 10px); */
  /*width: 70%;*/
  padding: 5px;
  flex: 2;
}

.breadcrumb {
  margin: 10px 0;
}

.breadcrumb ul {
  display: flex;
}

/* .breadcrumb li:not(:first-child)::before */
.breadcrumb li + li::before {
  content: ' > ';
  white-space: pre;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery > div {
  width: calc(33.33% - 8px);
  height: 100px;
  background-color: orange;
  /*float: left;*/
  margin-right: 12px;
  margin-bottom: 12px;
}

.gallery > div:nth-child(3n) {
  margin-right: 0;
}


@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .content > main {
    order: 1;
    width: 100%;
  }

  .content > aside {
    order: 2;
    width: 100%;
  }
}